<% include header %>
<link href="guestbook.css" rel="stylesheet" type="text/css">
<br>
<br>

<h1>
    Express Guestbook
    <a href="/new-entry" class="btn btn-primary pull-right">
    Write in the guestbook
    </a>
    </h1>
<div class="row">
    <div class="col-md-2">
 <a href="/page1" class="btn btn-info" role="button">Homepage</a>
 </div>
 <div class="col-md-2"><a href="/page2" class="btn btn-info" role="button">Validate your card</a>
 </div>
 <div class="col-md-2"><a href="/page3" class="btn btn-info" role="button">Contact</a>
</div>
</div>
<br>
<br>
<br>
<% if (entries.length) { %>

<% entries.forEach(function(entry) { %>
    <% console.log(entry) %>
<% console.log("Displaying:"+entry.title) %>
<% console.log("Displaying:"+entry.content) %>
<% console.log("Displaying:"+entry.published) %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add ENTRIES!</a>
<% } %>
<% include footer %>
