<% include header %>
<link href="page3.css" rel="stylesheet" type="text/css">
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="nav-header">
                        <a class="navbar-brand" href="#"><strong>A03 Manogna Sivangula</strong></a>
                    </div>
                </div>
            </nav>   
        </div>
     
        <div class="navbar"></div>
        <div class="container">
                <h1>Contact us</h1>
                </div>
            </div>
      
        <div class="container">
                
            <div class="row">
                    <div class="col-md-3">
                            <div class="row">
                                <a href="/page1" class="btn btn-success" role="button">Homepage</a>
                                </div>
                                <div class="row"><a href="/page2" class="btn btn-success" role="button">Validate your card</a>
                                </div>
                                <div class="row"><a href="/page3" class="btn btn-success" role="button">Contact</a>
                             </div>
                             <div class="row">
                                <a href="/index" class="btn btn-success" role="button">guestbook</a>
                                </div>
                             </div>
                <div class="col-md-2">
                    <a href="https://github.com/manogna1/A01"><img src="github-256.png" alt="Git Hub" class="img-circle" width="100px" height="100px"><br/>GitHUb</a>
                    </div>
                    <div class="col-md-2">
                    <a href="https://bitbucket.org/manogna1/"><img  src="0722.sdt-atlassian.png" alt="Bit Bucket" class="img-circle" width="100px" height="100px"><br/>BitBucket</a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"><img src="174857.png" alt="LinkedIn" class="img-circle" width="100px" height="100px"><br/>LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-8">
        <form method="POST" action="contact" role="form">
            <h3 class="head3">Name:</h3>
            <input name="name" type="text" value="" width="100px">
            <h3 class="head3" float="center">COMMENT:</h3>
            <textarea id="comment" name="comment" type="text" value="enter your comment here" style="width:500px; height:300px;"></textarea>
             <br/>
             <input type="submit" value="Submit">
        </form>
        </div>
        </div>
        <% include footer %>