<% include header %>
<link href="page2.css" rel="stylesheet" type="text/css">

        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="nav-header">
                        <a class="navbar-brand" href="#"><strong>NWMSU Fee Payment</strong></a>
                        <a href="/page1" class="btn btn-warning" role="button">Homepage</a>
      
                        <a href="/page2" class="btn btn-warning" role="button">Validate your card</a>
                          
                           <a href="/page3" class="btn btn-warning" role="button">Contact</a>
                     
                            <a href="/index" class="btn btn-warning" role="button">guestbook</a>
                       
                    </div>
                </div>
            </nav>   
<br>
<br>
<div class="container">
    <div class="row">
        <h1 class="head3"> Validate your Bearcard</h1>
        <p><strong>To Validate your bear card </strong></p>
       <div class="col-xl-4">
        <button class="btn btn-success" type="button" onclick="valid()">validate</button>
</div>
<br/>
<br/>
<a href="/test" style="color:aliceblue">click here for test cases</a>
<br/>
<br/>
<br/>

<div class="row">
    <p id="demo"></p>
</div>
<div class="row">
    <p id="demo1"></p>
</div>
<div class="row">
    <h3>Fee order form</h3>
    <h4>If your bearcat card is valid, pay the fees</h4>
    <form>
        <br/>
    <div class="col">
    Enter your BearcatNumber: <input type="text" value="#919" name="#919">    CardType:
    <select name="type">
        <option value="Debit card">Debit card</option>
        <option value="Credit card">Credit Card</option>
    </select></div><br/>
    <div class="col">
    CardName:<input type="text" name="text">    CardNumber:<input type="text" name="text"></div><br/><br/>
    <div class="col">
    BillingAddress:<textarea type="text" value="text"></textarea></div>
    <br/>
    <br/>
    <button class="btn btn-success" type="button" onclick="pay()">pay</button>
</div>
</form>
</div>
<div class="row">
    <p id="demo2"></p>
</div>
</div>
</div>
<% include footer %>