body{
    color:maroon;  
      background-image:url("https://wallpaperbrowse.com/media/images/518169-backgrounds.jpg");
    }

    #demo,#demo1,#demo2{
    background-color:whitesmoke;
    color:black;
    border:double SlateBlue;
    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    }
    
    #foot{
    background-color: red;
    border: 2px solid black;
    color: white;
    text-align: center;
    }
    .head3{
        Background-color:grey;
        border:solid gray;
        text-align:center;
    }
    .container{
        margin-left: 100px;
        margin-right:100px;
    }
h3{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border: 2px dotted black;
            background-color:burlywood;
        }