body{
    color: black;  
      background-image:url("http://images.all-free-download.com/images/graphiclarge/pink_fantasy_roses_background_picture_166708.jpg");
    }

    #head{
    background-color: aqua;
    color: maroon;
    border: 4px double SlateBlue;
    text-align: justify;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Georgia;
    }
    
    #foot{
    background-color: red;
    border: 2px solid black;
    color: white;
    text-align: center;
    }
    .head3{
        Background-color:#5DEDE8;
        border:solid gray;
        text-align:justify;
    }
    .container{
        color:brown;
        margin-left: 100px;
        margin-right:100px;
    }
h1{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            border: 2px dotted black;
            background-color:burlywood;
        }